h3{
    font-size: 25px;
    
}
.btn-success:hover{
    background-color: rgb(20, 140, 220);
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(115, 0, 255);}
    to{box-shadow: 1px 1px 38px rgb(0, 110, 255);}
}
body{
    background-repeat:no-repeat ;
    background-size: 100% 100%;

}